/*
    orange: #f58f13
    almost black: #403c3c
    light grey: #adadad
    fleshy red: #d18a70
    dark-light grey: #777373
*/
html, body {
  background-color: #777373;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  padding-bottom: 60px;
  margin: 0;
  padding: 0;
  height: 100%;
}


header {
  text-align: center;
  color: #f58f13;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}


.col-container {
  width: 100%;
  display: table;
}

.col {
  display: table-cell;
  padding: 4px;
  width: 30%;
}

h5 {
    color: #f58f13;
}
p {
    display: inline-block;
}

.selfie {
  max-width: 40%;
  max-height: 20%;
  float: left;
  margin: 5px;
  border: 4px solid #d18a70;
}


.nav ul {
  list-style: none;
  background-color: #403c3c;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  display: inline-block;
  margin-right: -4px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s background-color;
}

.nav a:hover {
  background-color: #f58f13;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
}
